:root {
    --main-bg-color:  rgba(51, 51, 51,0.1);
    --main-bg-result: rgb(122, 152, 129);
    --main-bg-number: #6db9eb;
    --main-bg-calculator: #FFFFFF;
    --main-bg-border: #000000;
  }

html, body {
    margin: 0;
    padding: 0;
    max-height: 100vh;
    max-width: 100vw;
    overflow: hidden;
}

.container {
    position: fixed;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--main-bg-color);
}

.calc {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 600px;
    width: 400px;
    background-color: var(--main-bg-calculator);
    border: 3px solid var(--main-bg-border);
    border-radius: 2px;
    padding: 10px;
}

.results {
    height: 90px;
    width: 100%;
    border-radius: 10px;
    border: solid 3px var(--main-bg-border);
    background-color: var(--main-bg-result);
    margin-bottom: 45px;
}

.buttons {
    border: solid 1px var(--main-bg-border);
    height: 457px;
    width: 100%;
}
